@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

:root {
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;

	--color-primary: #4793af;
}

body {
	background-color: #f6faf9;
	color: #0c0c20;
	font-family: 'Open Sans', sans-serif;
	overscroll-behavior: none;
}

@layer components {
	.checkbox-wrapper-46 input[type='checkbox'] {
		display: none;
		visibility: hidden;
	}

	.checkbox-wrapper-46 .cbx {
		margin: auto;
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
	}
	.checkbox-wrapper-46 .cbx span {
		display: inline-block;
		vertical-align: middle;
		transform: translate3d(0, 0, 0);
	}
	.checkbox-wrapper-46 .cbx span:first-child {
		position: relative;
		width: 16px;
		height: 16px;
		border-radius: 3px;
		transform: scale(1);
		vertical-align: middle;
		border: 1px solid #9098a9;
		transition: all 0.2s ease;
	}
	.checkbox-wrapper-46 .cbx span:first-child svg {
		position: absolute;
		top: 3px;
		left: 3px;
		fill: none;
		stroke: #ffffff;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: 14px;
		stroke-dashoffset: 14px;
		transition: all 0.3s ease;
		transition-delay: 0.1s;
		transform: translate3d(0, 0, 0);
	}
	.checkbox-wrapper-46 .cbx span:first-child:before {
		content: '';
		width: 100%;
		height: 100%;
		background: var(--color-primary);
		display: block;
		transform: scale(0);
		opacity: 1;
		border-radius: 50%;
	}
	.checkbox-wrapper-46 .cbx span:last-child {
		padding-left: 6px;
	}
	.checkbox-wrapper-46 .cbx:hover span:first-child {
		border-color: var(--color-primary);
	}

	.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
		background: var(--color-primary);
		border-color: var(--color-primary);
		animation: wave-46 0.4s ease;
	}
	.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
		stroke-dashoffset: 0;
	}
	.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
		transform: scale(3.5);
		opacity: 0;
		transition: all 0.6s ease;
	}

	@keyframes wave-46 {
		50% {
			transform: scale(0.9);
		}
	}
}
